.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #1F1E1E;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caption, .headline {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.rectangle {
  width: 52.083vw;
  height: 33.438vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caption {
  width: 9.323vw;
  height: 1.25vw;
  font-size: 1.042vw;
  color: #86868B;
}

.headline {
  width: 17.656vw;
  font-size: 2.188vw;
}

.description {
  width: 18.438vw;
  height: 13.75vw;
  font-size: 0.938vw;
  color: #86868B;
}

.description span {
  color: white;
}


.phone-img {
  width: 20.573vw;
}

